.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-icon-spinner {
  font-size: 75px;
  pointer-events: none;
  position: absolute;
  left: 10px;
  top: 15px;
  color: white;

}

.App-icon {
  font-size: 25px;
  pointer-events: none;
  color: #61dafb;
  position: absolute;
  left: 35px;
  top: 40px;
}

.HeaderBar .HeaderTitle{
  margin-left: 50px;
  margin-bottom: 5px;
  margin-top: 25px;
  font-size: calc(22px + 2vmin);
  color: white;
}
.HeaderBar .HeaderDesc{
  margin-left: 50px;
  font-size: calc(10px + 1vmin);
  color: white;

}
.ListItemsDesc{
  font-size: calc(12px + 2vmin);
  color: white;
  padding: 0 10px 0 10px;
}

.ListItemsHeader{
  font-size: calc(17px + 2vmin);
  color: white;
}
.ListItemsIcon{
  font-size: calc(25px + 2vmin);
  color: white;
  margin-left: 8px;
}

.FooterContainer{
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-icon-spinner {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
